<div class="blog-masthead sticky-top">
      <div class="container">
        <nav class="nav blog-nav">
           <%= nav_helper 'nav-link', 'span' %>
           <%= login_helper 'nav-link' %>
        </nav>
      </div>
</div>

