<h1>About Me</h1>
<hr>
<div class="row">
	<div class="col-md-4">
		<p><%= image_tag "portfolio.png" %></p>
	</div>
	<div class="col-md-8">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur ac sem vitae iaculis. Curabitur at dolor id mauris vehicula congue eu eget dolor. Nullam pretium, ex et commodo ultricies, mauris arcu elementum sapien, sit amet mollis diam erat a nibh. Nam aliquam sit amet elit vitae tempor. Donec tincidunt placerat erat vitae malesuada. Sed varius suscipit vestibulum. Nam ut turpis et elit congue hendrerit.</p>

		<p>Maecenas sed dui in ante fermentum accumsan. Proin a consequat velit. Fusce viverra sit amet elit eu ullamcorper. Curabitur lectus elit, dictum sed purus eget, tincidunt hendrerit sem. Integer nunc augue, malesuada at lacus venenatis, accumsan scelerisque dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim quam non nunc lobortis, ut ultricies diam malesuada.</p>
	</div>
</div>
