  <div class="inner cover">
    <h1 class="cover-heading">Software deweloper</h1>
    <hr>
    <p class="lead">Vivamus volutpat nec nisl in tempor. Quisque blandit malesuada lorem, sit amet fermentum ex finibus ut. Nunc massa erat, laoreet vitae pharetra vel, rhoncus quis sapien. Morbi imperdiet, felis nec suscipit mollis, odio tellus varius lorem, sit amet feugiat odio metus sit amet neque. Sed eu ornare nisl. Quisque sed venenatis felis, id aliquet leo. Fusce sed magna mattis, euismod orci non, luctus odio. Nullam eu dignissim arcu. Vivamus at sodales eros, malesuada malesuada tellus. Phasellus nec nisi sed dolor pellentesque fringilla.</p>
  </div>